{layout '../../../../Templates/@layout.latte'}

{import '../components/form.latte'}

{block content}
<h1 n:block=title>Sign In</h1>

{include form signInForm}

<hr>
<small>Password: <code>project</code></small>